<p id="notice"><%= notice %></p>

<h1>Housing Detail Managements</h1>

<table>
  <thead>
    <tr>
      <th>Version no.</th>
      <th>Status</th>
      <th>Approval</th>
      <th>Approved user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housing_detail_managements.each do |housing_detail_management| %>
      <tr>
        <td><%= housing_detail_management.id %></td>
        <td><%= housing_detail_management.status %></td>
        <td><%= housing_detail_management.approval %></td>
        <td><%= housing_detail_management.approved_user_id %></td>
        <td><%= link_to 'Show', housing_detail_management %></td>
        <td><%= link_to 'Edit', edit_housing_detail_management_path(housing_detail_management) %></td>
        <td><%= link_to 'Destroy', housing_detail_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing Detail Management', new_housing_detail_management_path %>
